/* header */
.row-in {
  background-color: #575757; }
  .row-in .row-ser-login {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 70px; }
    .row-in .row-ser-login .logout, .row-in .row-ser-login .user-name {
      text-align: center;
      width: 200px; }
      .row-in .row-ser-login .logout a, .row-in .row-ser-login .user-name a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: "ProximaNova";
        color: white; }
        .row-in .row-ser-login .logout a .con, .row-in .row-ser-login .user-name a .con {
          width: 30px;
          height: 30px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          overflow: hidden;
          background-color: white;
          display: inline-block;
          position: relative; }
          .row-in .row-ser-login .logout a .con img, .row-in .row-ser-login .user-name a .con img {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
        .row-in .row-ser-login .logout a img, .row-in .row-ser-login .user-name a img {
          display: inline-block;
          vertical-align: middle; }
        .row-in .row-ser-login .logout a span, .row-in .row-ser-login .user-name a span {
          display: inline-block;
          vertical-align: middle; }
  .row-in .row-ser-logout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 70px; }
    .row-in .row-ser-logout .spread {
      width: 130px;
      text-align: center; }
    .row-in .row-ser-logout span {
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-family: "ProximaNova";
      color: white;
      position: relative;
      padding-bottom: 2px;
      cursor: pointer; }
      .row-in .row-ser-logout span:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 50%;
        height: 1px;
        background-color: white;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0; }
      .row-in .row-ser-logout span:hover:before {
        left: 0;
        right: 0;
        opacity: 1; }

.header-wrap .con {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100px; }
  .header-wrap .con .logo {
    width: 210px;
    display: block; }
  .header-wrap .con .nav-part ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header-wrap .con .nav-part ul li {
      padding: 0 30px; }
      .header-wrap .con .nav-part ul li a {
        text-decoration: none;
        font-size: 18px;
        font-family: "ProximaNova";
        color: #4f4f4f;
        font-weight: bold;
        text-transform: uppercase; }
  .header-wrap .con .call-back {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 60px;
    width: 222px;
    border: 2px solid #f03f39;
    text-decoration: none;
    position: relative;
    background-color: #f03f39; }
    .header-wrap .con .call-back:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: white;
      z-index: 1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .header-wrap .con .call-back span {
      font-size: 14px;
      font-family: "ProximaNova";
      color: #f03f39;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      z-index: 5; }
    .header-wrap .con .call-back:hover:before {
      top: 10px;
      left: 10px;
      bottom: 10px;
      right: 10px; }

/* header */
/* find-pockemon */
.find-pockemon {
  font-family: "ProximaNova";
  background-color: #e5e5e5;
  min-height: 100vh;
  padding: 40px 0; }
  .find-pockemon .mbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: -webkit-calc(100vh - 250px);
    min-height: -moz-calc(100vh - 250px);
    min-height: calc(100vh - 250px); }
  .find-pockemon .head-row {
    width: 100%;
    padding: 50px 0; }
    .find-pockemon .head-row h1 {
      margin: 0;
      text-align: center;
      font-size: 72px;
      font-family: "ProximaNova";
      color: #e83d37;
      font-weight: bold;
      text-transform: uppercase; }

.pockeball {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .pockeball.open-reg {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
    .pockeball.open-reg .bot-pock span {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    .pockeball.open-reg .top-pock span {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    .pockeball.open-reg .circle {
      cursor: pointer;
      top: 125px;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
      .pockeball.open-reg .circle .arrows {
        display: block; }
    .pockeball.open-reg .mid .form-reg {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  .pockeball.open-login {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
    .pockeball.open-login .circle {
      cursor: pointer;
      top: -webkit-calc(100% - 196px);
      top: -moz-calc(100% - 196px);
      top: calc(100% - 196px); }
      .pockeball.open-login .circle .arrows {
        display: block; }
    .pockeball.open-login .mid {
      height: auto; }
  .pockeball .top-pock {
    width: 100%;
    height: -webkit-calc((320px - 14px)/2);
    height: -moz-calc((320px - 14px)/2);
    height: calc((320px - 14px)/2);
    background: -moz-linear-gradient(top, #db3b34 0%, #f03f39 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #db3b34), color-stop(100%, #f03f39));
    background: -webkit-linear-gradient(top, #db3b34 0%, #f03f39 100%);
    background: -o-linear-gradient(top, #db3b34 0%, #f03f39 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#db3b34), to(#f03f39));
    background: linear-gradient(to bottom, #db3b34 0%, #f03f39 100%);
    position: relative;
    -webkit-border-top-left-radius: 320px;
    -moz-border-radius-topleft: 320px;
    border-top-left-radius: 320px;
    -webkit-border-top-right-radius: 320px;
    -moz-border-radius-topright: 320px;
    border-top-right-radius: 320px;
    overflow: hidden;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .pockeball .top-pock span {
      font-size: 24px;
      font-family: "ProximaNova";
      color: white;
      font-weight: bold;
      text-transform: uppercase; }
    .pockeball .top-pock:before {
      content: '';
      position: absolute;
      bottom: -7px;
      width: 102px;
      left: -webkit-calc(50% - 102px/2);
      left: -moz-calc(50% - 102px/2);
      left: calc(50% - 102px/2);
      right: -webkit-calc(50% - 102px/2);
      right: -moz-calc(50% - 102px/2);
      right: calc(50% - 102px/2);
      height: 51px;
      background-color: #483e45;
      -webkit-border-top-left-radius: 102px;
      -moz-border-radius-topleft: 102px;
      border-top-left-radius: 102px;
      -webkit-border-top-right-radius: 102px;
      -moz-border-radius-topright: 102px;
      border-top-right-radius: 102px; }
  .pockeball .bot-pock {
    width: 100%;
    height: -webkit-calc((320px - 14px)/2);
    height: -moz-calc((320px - 14px)/2);
    height: calc((320px - 14px)/2);
    background: -moz-linear-gradient(top, #e2e2e2 0%, #c2c2c2 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #e2e2e2), color-stop(100%, #c2c2c2));
    background: -webkit-linear-gradient(top, #e2e2e2 0%, #c2c2c2 100%);
    background: -o-linear-gradient(top, #e2e2e2 0%, #c2c2c2 100%);
    background: -ms-linear-gradient(top, #e2e2e2 0%, #c2c2c2 100%);
    position: relative;
    -webkit-border-bottom-right-radius: 320px;
    -moz-border-radius-bottomright: 320px;
    border-bottom-right-radius: 320px;
    -webkit-border-bottom-left-radius: 320px;
    -moz-border-radius-bottomleft: 320px;
    border-bottom-left-radius: 320px;
    overflow: hidden;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .pockeball .bot-pock span {
      font-size: 24px;
      font-family: "ProximaNova";
      color: #4f4f4f;
      font-weight: bold;
      text-transform: uppercase; }
    .pockeball .bot-pock:before {
      content: '';
      position: absolute;
      top: -7px;
      width: 102px;
      left: -webkit-calc(50% - 102px/2);
      left: -moz-calc(50% - 102px/2);
      left: calc(50% - 102px/2);
      right: -webkit-calc(50% - 102px/2);
      right: -moz-calc(50% - 102px/2);
      right: calc(50% - 102px/2);
      height: 51px;
      background-color: #483e45;
      -webkit-border-bottom-left-radius: 102px;
      -moz-border-radius-bottomleft: 102px;
      border-bottom-left-radius: 102px;
      -webkit-border-bottom-right-radius: 102px;
      -moz-border-radius-bottomright: 102px;
      border-bottom-right-radius: 102px; }
  .pockeball .circle {
    position: absolute;
    top: -webkit-calc(50% - 74px/2);
    top: -moz-calc(50% - 74px/2);
    top: calc(50% - 74px/2);
    left: -webkit-calc(50% - 74px/2);
    left: -moz-calc(50% - 74px/2);
    left: calc(50% - 74px/2);
    width: 74px;
    height: 74px;
    background-color: #483e45;
    z-index: 10;
    border: 2px solid #dedede;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .pockeball .circle:before {
      content: '';
      position: absolute;
      width: 60px;
      height: 60px;
      top: -webkit-calc( 50% - 60px/2);
      top: -moz-calc( 50% - 60px/2);
      top: calc( 50% - 60px/2);
      left: -webkit-calc(50% - 60px/2);
      left: -moz-calc(50% - 60px/2);
      left: calc(50% - 60px/2);
      background-color: #dedede;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
    .pockeball .circle .arrows {
      display: none; }
      .pockeball .circle .arrows:before {
        content: '';
        position: absolute;
        left: -webkit-calc(50% - 10px/2);
        left: -moz-calc(50% - 10px/2);
        left: calc(50% - 10px/2);
        top: -webkit-calc(50% + 3px);
        top: -moz-calc(50% + 3px);
        top: calc(50% + 3px);
        width: 10px;
        height: 10px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border-top: 3px solid #ef3f39;
        border-right: 3px solid #ef3f39;
        /* animation: upper1 1s infinite; animation-timing-function: linear; */ }
      .pockeball .circle .arrows:after {
        content: '';
        position: absolute;
        left: -webkit-calc(50% - 10px/2);
        left: -moz-calc(50% - 10px/2);
        left: calc(50% - 10px/2);
        top: -webkit-calc(50% - 7px);
        top: -moz-calc(50% - 7px);
        top: calc(50% - 7px);
        width: 10px;
        height: 10px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border-top: 3px solid #ef3f39;
        border-right: 3px solid #ef3f39;
        /* animation: upper2 1s infinite;  animation-timing-function: linear; */ }
  .pockeball .mid {
    width: -webkit-calc(100% - 8px);
    width: -moz-calc(100% - 8px);
    width: calc(100% - 8px);
    margin: 0 auto;
    min-height: 14px;
    background-color: #483e45; }
    .pockeball .mid .form-reg {
      display: none; }
    .pockeball .mid .form-log {
      display: none; }
  .pockeball .mid .form-log {
    padding: 20px 0 60px 0;
    max-width: 250px;
    margin: 0 auto; }
  .pockeball .mid .form-reg {
    padding: 60px 0 20px;
    max-width: 250px;
    margin: 0 auto; }
    .pockeball .mid .form-reg .contact-form-row-submit {
      padding-top: 20px; }
  .pockeball .mid form {
    padding: 0 0 20px; }
    .pockeball .mid form .contact-form-row .form_input {
      position: relative;
      padding: 30px 0 10px; }
      .pockeball .mid form .contact-form-row .form_input p {
        position: absolute;
        margin: 0;
        top: 48px;
        left: 10px;
        font-size: 14px;
        font-family: "ProximaNova";
        color: #e5cede;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        pointer-events: none; }
      .pockeball .mid form .contact-form-row .form_input input {
        background-color: transparent;
        border: none;
        border: 1px solid #6e606a;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 100%;
        height: 45px;
        font-size: 16px;
        font-family: "ProximaNova";
        color: #ecdde8;
        padding: 0 10px; }
      .pockeball .mid form .contact-form-row .form_input input.error {
        border: 1px solid #ef3f39;
        -webkit-box-shadow: inset 0px 0px 1px 1px #ef3f39;
        -moz-box-shadow: inset 0px 0px 1px 1px #ef3f39;
        box-shadow: inset 0px 0px 1px 1px #ef3f39; }
      .pockeball .mid form .contact-form-row .form_input .errorText {
        display: none !important; }
      .pockeball .mid form .contact-form-row .form_input.focused p, .pockeball .mid form .contact-form-row .form_input.dirty p {
        top: 5px;
        left: 0; }
    .pockeball .mid form .row-for-check {
      position: relative;
      overflow: hidden;
      padding: 10px 0 20px; }
      .pockeball .mid form .row-for-check #checker {
        position: absolute;
        top: -100;
        visibility: hidden;
        opacity: 0;
        width: 0;
        height: 0; }
      .pockeball .mid form .row-for-check label {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: 145px; }
        .pockeball .mid form .row-for-check label .checkblock {
          width: 25px;
          height: 25px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          border: 1px solid #6e606a;
          display: block;
          cursor: pointer;
          position: relative; }
          .pockeball .mid form .row-for-check label .checkblock b {
            background-image: url(../images/check-red.png);
            position: absolute;
            background-position: center;
            width: 17px;
            height: 16px;
            background-repeat: no-repeat;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 0;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s; }
        .pockeball .mid form .row-for-check label .after-text {
          margin-left: 15px;
          font-size: 14px;
          font-family: "ProximaNova";
          color: #e5cede;
          cursor: pointer; }
      .pockeball .mid form .row-for-check input[type=checkbox]:checked + label .checkblock b {
        opacity: 1; }
    .pockeball .mid form .contact-form-row-submit button {
      border: none;
      border: 3px solid #ef3f39;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: transparent;
      width: 100%;
      height: 55px;
      display: block;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .pockeball .mid form .contact-form-row-submit button span {
        width: 100%;
        display: block;
        font-size: 16px;
        font-family: "ProximaNova";
        color: #e5cede; }
      .pockeball .mid form .contact-form-row-submit button:hover {
        background-color: rgba(255, 255, 255, 0.1); }
  .pockeball .mid .error-row {
    color: #ef3f39;
    padding: 20px 0 0;
    text-align: center;
    display: none; }
    .pockeball .mid .error-row p {
      margin: 0;
      font-weight: 700;
      font-size: 18px; }
  .pockeball .mid .forget-pass {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    text-decoration: none;
    border: 1px solid #6e606a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .pockeball .mid .forget-pass span {
      font-size: 14px;
      font-family: "ProximaNova";
      color: #e5cede; }
    .pockeball .mid .forget-pass:hover {
      background-color: rgba(255, 255, 255, 0.1); }
  .pockeball .mid .soc-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px; }
    .pockeball .mid .soc-block a {
      display: block;
      width: 50px;
      height: 50px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 2px solid #6e606a;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .pockeball .mid .soc-block a .con {
        width: 46px;
        height: 46px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .pockeball .mid .soc-block a svg {
        width: 25px;
        height: 25px;
        margin: 5%;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        fill: #c6c3c5; }
      .pockeball .mid .soc-block a:hover {
        border: 2px solid #ed3f39;
        -webkit-box-shadow: inset 0px 0px 1px 1px #ef3f39;
        -moz-box-shadow: inset 0px 0px 1px 1px #ef3f39;
        box-shadow: inset 0px 0px 1px 1px #ef3f39; }
        .pockeball .mid .soc-block a:hover svg {
          fill: #ed3f39; }

/* find-pockemon */
@-webkit-keyframes upper1 {
  0% {
    top: -webkit-calc(50% + 5px);
    top: calc(50% + 5px); }
  50% {
    top: -webkit-calc(50% + 1px);
    top: calc(50% + 1px); }
  100% {
    top: -webkit-calc(50% + 5px);
    top: calc(50% + 5px); } }
@-moz-keyframes upper1 {
  0% {
    top: -moz-calc(50% + 5px);
    top: calc(50% + 5px); }
  50% {
    top: -moz-calc(50% + 1px);
    top: calc(50% + 1px); }
  100% {
    top: -moz-calc(50% + 5px);
    top: calc(50% + 5px); } }
@-o-keyframes upper1 {
  0% {
    top: calc(50% + 5px); }
  50% {
    top: calc(50% + 1px); }
  100% {
    top: calc(50% + 5px); } }
@keyframes upper1 {
  0% {
    top: -webkit-calc(50% + 5px);
    top: -moz-calc(50% + 5px);
    top: calc(50% + 5px); }
  50% {
    top: -webkit-calc(50% + 1px);
    top: -moz-calc(50% + 1px);
    top: calc(50% + 1px); }
  100% {
    top: -webkit-calc(50% + 5px);
    top: -moz-calc(50% + 5px);
    top: calc(50% + 5px); } }

@-webkit-keyframes upper2 {
  0% {
    top: -webkit-calc(50% - 5px);
    top: calc(50% - 5px); }
  50% {
    top: -webkit-calc(50% - 9px);
    top: calc(50% - 9px); }
  100% {
    top: -webkit-calc(50% - 5px);
    top: calc(50% - 5px); } }

@-moz-keyframes upper2 {
  0% {
    top: -moz-calc(50% - 5px);
    top: calc(50% - 5px); }
  50% {
    top: -moz-calc(50% - 9px);
    top: calc(50% - 9px); }
  100% {
    top: -moz-calc(50% - 5px);
    top: calc(50% - 5px); } }

@-o-keyframes upper2 {
  0% {
    top: calc(50% - 5px); }
  50% {
    top: calc(50% - 9px); }
  100% {
    top: calc(50% - 5px); } }

@keyframes upper2 {
  0% {
    top: -webkit-calc(50% - 5px);
    top: -moz-calc(50% - 5px);
    top: calc(50% - 5px); }
  50% {
    top: -webkit-calc(50% - 9px);
    top: -moz-calc(50% - 9px);
    top: calc(50% - 9px); }
  100% {
    top: -webkit-calc(50% - 5px);
    top: -moz-calc(50% - 5px);
    top: calc(50% - 5px); } }

/* search */
.contein-search {
  padding-top: 50px; }
  .contein-search .top-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid #f2f2f2; }
    .contein-search .top-row .form-part form .form-row {
      position: relative; }
      .contein-search .top-row .form-part form .form-row:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 20px;
        background-image: url(../images/search.png);
        background-repeat: no-repeat; }
      .contein-search .top-row .form-part form .form-row input {
        border: none;
        background-color: transparent;
        padding-left: 30px;
        min-width: 300px; }
    .contein-search .top-row .select-part {
      position: relative;
      cursor: pointer; }
      .contein-search .top-row .select-part .drop {
        position: absolute;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        border-right: 1px solid black;
        border-bottom: 1px solid black; }
  .contein-search .slider-row {
    padding-bottom: 150px;
    padding-top: 20px; }
    .contein-search .slider-row .sliding-items {
      padding: 2px; }
      .contein-search .slider-row .sliding-items .item {
        min-width: 165px;
        padding: 10px 0;
        cursor: pointer;
        margin: 0 auto;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        .contein-search .slider-row .sliding-items .item:hover, .contein-search .slider-row .sliding-items .item.it-can-be {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          -webkit-box-shadow: 0px 2px 9.6px 0.4px rgba(0, 0, 0, 0.17);
          -moz-box-shadow: 0px 2px 9.6px 0.4px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 2px 9.6px 0.4px rgba(0, 0, 0, 0.17);
          background-color: white; }
          .contein-search .slider-row .sliding-items .item:hover .circle, .contein-search .slider-row .sliding-items .item.it-can-be .circle {
            background-color: #ffc800; }
        .contein-search .slider-row .sliding-items .item .top {
          width: 100%;
          text-align: center;
          font-size: 18px;
          font-family: "ProximaNova";
          color: #4f4f4f;
          font-weight: bold;
          padding: 15px 0;
          display: none; }
        .contein-search .slider-row .sliding-items .item .circle {
          width: 165px;
          height: 165px;
          border: 1px solid #ffc800;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -moz-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          margin: 0 auto; }
        .contein-search .slider-row .sliding-items .item .named {
          text-align: center;
          font-size: 18px;
          font-family: "ProximaNova";
          color: #4f4f4f;
          padding: 15px 0; }
    .contein-search .slider-row .slick-dots {
      bottom: -100px; }
      .contein-search .slider-row .slick-dots li {
        width: 10px;
        height: 10px;
        border: 1px solid #ffc800;
        background-color: transparent;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
        .contein-search .slider-row .slick-dots li button {
          display: none; }
        .contein-search .slider-row .slick-dots li.slick-active {
          background-color: #ffc800; }

/* search */
/* footer */
.footer {
  position: static; }
  .footer .contacts {
    border-top: 1px solid #d8d8d8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1260px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 80px; }
    .footer .contacts .col {
      width: 220px; }
      .footer .contacts .col b {
        display: block;
        padding-bottom: 20px;
        font-size: 18px;
        font-family: "ProximaNova";
        color: #4f4f4f;
        font-weight: bold;
        text-transform: uppercase; }
      .footer .contacts .col p {
        font-size: 18px;
        font-family: "ProximaNova";
        color: #4f4f4f;
        line-height: 2;
        text-align: left; }
      .footer .contacts .col a {
        text-decoration: none;
        font-size: 18px;
        font-family: "ProximaNova";
        color: #4f4f4f;
        text-transform: uppercase;
        line-height: 2;
        display: table; }
      .footer .contacts .col .site-map {
        text-align: right; }
        .footer .contacts .col .site-map a {
          display: inline;
          text-decoration: none;
          font-size: 18px;
          font-family: "ProximaNova";
          color: #ec3e38;
          font-weight: bold;
          text-transform: uppercase; }
  .footer .last-row {
    background-color: #575757; }
    .footer .last-row .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      height: 80px; }
      .footer .last-row .row .left {
        font-size: 16px;
        font-family: "ProximaNova";
        color: silver; }
      .footer .last-row .row .right a {
        text-decoration: none;
        font-size: 16px;
        font-family: "ProximaNova";
        color: silver; }
        .footer .last-row .row .right a b {
          font-size: 18px;
          color: #ea3e38; }

/* footer */
#call-popup, #call-popup2 {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: white;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  #call-popup.open, #call-popup2.open {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1; }
  #call-popup .converter, #call-popup2 .converter {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #call-popup .converter .jspVerticalBar, #call-popup2 .converter .jspVerticalBar {
      width: 0;
      opacity: 0; }
    #call-popup .converter .pockeball .bot-pock, #call-popup2 .converter .pockeball .bot-pock {
      pointer-events: none; }

#call-popup2 .converter .pockeball .bot-pock {
  pointer-events: auto; }

#call-popup2 .converter .pockeball .top-pock {
  pointer-events: none; }

#call-me-baby {
  width: 540px;
  padding: 20px 0 20px;
  background-image: url("../images/pop-call.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #call-me-baby .conteiner {
    max-width: 260px;
    margin-left: -webkit-calc(100% - 280px);
    margin-left: -moz-calc(100% - 280px);
    margin-left: calc(100% - 280px); }
  #call-me-baby form {
    padding: 0 0 20px; }
    #call-me-baby form .contact-form-row .form_input {
      position: relative;
      padding: 30px 0 10px; }
      #call-me-baby form .contact-form-row .form_input p {
        position: absolute;
        margin: 0;
        top: 48px;
        left: 10px;
        font-size: 14px;
        font-family: "ProximaNova";
        color: white;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        pointer-events: none; }
      #call-me-baby form .contact-form-row .form_input input {
        background-color: transparent;
        border: none;
        border: 1px solid #e93c36;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 100%;
        height: 45px;
        font-size: 16px;
        font-family: "ProximaNova";
        color: white;
        padding: 0 10px;
        background-color: rgba(255, 255, 255, 0.5); }
      #call-me-baby form .contact-form-row .form_input input.error {
        border: 1px solid #ef3f39;
        -webkit-box-shadow: inset 0px 0px 1px 1px #ef3f39;
        -moz-box-shadow: inset 0px 0px 1px 1px #ef3f39;
        box-shadow: inset 0px 0px 1px 1px #ef3f39; }
      #call-me-baby form .contact-form-row .form_input .errorText {
        display: none !important; }
      #call-me-baby form .contact-form-row .form_input.focused p, #call-me-baby form .contact-form-row .form_input.dirty p {
        top: 5px;
        left: 0; }
    #call-me-baby form .row-for-check {
      position: relative;
      overflow: hidden;
      padding: 10px 0 20px; }
      #call-me-baby form .row-for-check #checker {
        position: absolute;
        top: -100;
        visibility: hidden;
        opacity: 0;
        width: 0;
        height: 0; }
      #call-me-baby form .row-for-check label {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: 145px; }
        #call-me-baby form .row-for-check label .checkblock {
          width: 25px;
          height: 25px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          border: 1px solid #6e606a;
          display: block;
          cursor: pointer;
          position: relative; }
          #call-me-baby form .row-for-check label .checkblock b {
            background-image: url(../images/check-red.png);
            position: absolute;
            background-position: center;
            width: 17px;
            height: 16px;
            background-repeat: no-repeat;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 0;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s; }
        #call-me-baby form .row-for-check label .after-text {
          margin-left: 15px;
          font-size: 14px;
          font-family: "ProximaNova";
          color: #e5cede;
          cursor: pointer; }
      #call-me-baby form .row-for-check input[type=checkbox]:checked + label .checkblock b {
        opacity: 1; }
    #call-me-baby form .contact-form-row-submit {
      padding-top: 30px; }
      #call-me-baby form .contact-form-row-submit button {
        border: none;
        border: 3px solid #ef3f39;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: rgba(239, 63, 57, 0.8);
        width: 100%;
        height: 55px;
        display: block;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        #call-me-baby form .contact-form-row-submit button span {
          width: 100%;
          display: block;
          font-size: 16px;
          font-family: "ProximaNova";
          color: white; }
        #call-me-baby form .contact-form-row-submit button:hover {
          background-color: #ef3f39; }
  #call-me-baby .error-row {
    color: #ef3f39;
    padding: 20px 0 0;
    text-align: center;
    display: none; }
    #call-me-baby .error-row p {
      margin: 0;
      font-weight: 700;
      font-size: 18px; }
  #call-me-baby .forget-pass {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    text-decoration: none;
    border: 1px solid #6e606a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    #call-me-baby .forget-pass span {
      font-size: 14px;
      font-family: "ProximaNova";
      color: #e5cede; }
    #call-me-baby .forget-pass:hover {
      background-color: rgba(255, 255, 255, 0.1); }

.fancybox-form .fancybox-close {
  top: 0;
  right: 0;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .fancybox-form .fancybox-close:before {
    content: '';
    position: absolute;
    left: 18px;
    top: 7px;
    width: 2px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: red; }
  .fancybox-form .fancybox-close:after {
    content: '';
    left: 18px;
    top: 7px;
    position: absolute;
    width: 2px;
    height: 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: red; }
  .fancybox-form .fancybox-close:hover {
    background-color: rgba(255, 255, 255, 0.8); }

#error-pop {
  width: 400px;
  padding: 60px 0;
  background-image: url(../images/error-pop.jpg);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #error-pop .contein {
    background-color: rgba(255, 255, 255, 0.9); }
    #error-pop .contein .text {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      font-family: "ProximaNova";
      padding: 30px;
      color: #e93c36; }

#succ-pop {
  width: 400px;
  padding: 60px 0;
  background-image: url(../images/succ-pop.jpg);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #succ-pop .contein {
    background-color: rgba(255, 255, 255, 0.9); }
    #succ-pop .contein .text {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      font-family: "ProximaNova";
      padding: 30px;
      color: #369a80; }
