/* login */
.login-wrap {
  background-image: url(../images/pok-ban.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px 0; }
  .login-wrap .form-wrap {
    max-width: 420px;
    margin: 0 auto; }
    .login-wrap .form-wrap .topper {
      background-color: white;
      margin-bottom: 10px;
      padding: 25px 0;
      position: relative;
      overflow: hidden;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
      .login-wrap .form-wrap .topper:after {
        content: '';
        position: absolute;
        width: 5px;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #2587cc; }
      .login-wrap .form-wrap .topper h2 {
        font-size: 18px;
        font-family: "ProximaNova";
        color: #4f4f4f;
        font-weight: bold;
        text-align: center;
        margin: 0; }
    .login-wrap .form-wrap .form {
      background-color: white;
      padding: 50px 0; }
      .login-wrap .form-wrap .form form {
        max-width: 300px;
        margin: 0 auto; }
        .login-wrap .form-wrap .form form .contact-form-title {
          padding-bottom: 10px; }
          .login-wrap .form-wrap .form form .contact-form-title h5 {
            margin: 0;
            font-size: 18px;
            font-family: "ProximaNova";
            color: #4f4f4f;
            font-weight: 400;
            line-height: 1.2;
            text-align: center; }
        .login-wrap .form-wrap .form form .form_input {
          position: relative;
          padding: 20px 0; }
          .login-wrap .form-wrap .form form .form_input p {
            position: absolute;
            pointer-events: none;
            top: 33px;
            left: 15px;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            font-size: 14px;
            font-family: "ProximaNova";
            color: #9f9f9f;
            margin: 0;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s; }
          .login-wrap .form-wrap .form form .form_input input {
            background-color: transparent;
            width: 100%;
            border: none;
            border: 1px solid #bebebe;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            padding-left: 15px;
            height: 40px;
            font-size: 18px;
            font-family: "ProximaNova";
            color: #4f4f4f;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s; }
          .login-wrap .form-wrap .form form .form_input.focused p, .login-wrap .form-wrap .form form .form_input.dirty p {
            top: 0;
            left: 0; }
          .login-wrap .form-wrap .form form .form_input.error p {
            color: red; }
          .login-wrap .form-wrap .form form .form_input.error input {
            border: 1px solid transparent;
            -webkit-box-shadow: inset 0px 0px 2px 1px red;
            -moz-box-shadow: inset 0px 0px 2px 1px red;
            box-shadow: inset 0px 0px 2px 1px red; }
          .login-wrap .form-wrap .form form .form_input.error .error-field {
            opacity: 1;
            pointer-events: auto; }
          .login-wrap .form-wrap .form form .form_input .error-field {
            opacity: 0;
            pointer-events: none;
            position: absolute;
            bottom: 68px;
            min-width: 120px;
            right: 0;
            z-index: 2;
            background-color: white;
            -webkit-box-shadow: inset 0px 0px 2px 1px red;
            -moz-box-shadow: inset 0px 0px 2px 1px red;
            box-shadow: inset 0px 0px 2px 1px red;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px; }
            .login-wrap .form-wrap .form form .form_input .error-field:before {
              position: absolute;
              content: '';
              width: 10px;
              height: 10px;
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
              bottom: -5px;
              background-color: white;
              z-index: 0;
              right: 10px;
              -webkit-box-shadow: inset -2px -2px 2px -1px red;
              -moz-box-shadow: inset -2px -2px 2px -1px red;
              box-shadow: inset -2px -2px 2px -1px red; }
            .login-wrap .form-wrap .form form .form_input .error-field .costruct {
              z-index: 2;
              position: relative;
              width: 100%;
              text-align: center;
              overflow: hidden;
              padding: 5px; }
              .login-wrap .form-wrap .form form .form_input .error-field .costruct span {
                font-size: 14px;
                color: #9f9f9f; }
        .login-wrap .form-wrap .form form .row-for-check {
          padding-bottom: 10px; }
          .login-wrap .form-wrap .form form .row-for-check input[type=checkbox] {
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0; }
          .login-wrap .form-wrap .form form .row-for-check input[type=checkbox] + label {
            cursor: pointer; }
            .login-wrap .form-wrap .form form .row-for-check input[type=checkbox] + label .checkblock {
              width: 20px;
              height: 20px;
              border: 1px solid #bebebe;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              border-radius: 4px;
              position: relative;
              display: inline-block;
              vertical-align: top; }
              .login-wrap .form-wrap .form form .row-for-check input[type=checkbox] + label .checkblock b {
                position: absolute;
                width: 12px;
                height: 6px;
                border-bottom: 3px solid #2587cc;
                border-left: 3px solid #2587cc;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                top: 5px;
                left: 4px;
                opacity: 0;
                -webkit-transition: all 0.1s;
                -moz-transition: all 0.1s;
                -o-transition: all 0.1s;
                transition: all 0.1s; }
            .login-wrap .form-wrap .form form .row-for-check input[type=checkbox] + label .after-text {
              display: inline-block;
              margin-left: 10px;
              font-size: 14px;
              font-family: "ProximaNova";
              color: #4f4f4f;
              line-height: 20px;
              vertical-align: top; }
          .login-wrap .form-wrap .form form .row-for-check input[type=checkbox]:checked + label .checkblock b {
            opacity: 1; }
        .login-wrap .form-wrap .form form .contact-form-row-submit {
          padding: 10px 0; }
          .login-wrap .form-wrap .form form .contact-form-row-submit button {
            border: none;
            width: 100%;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            background-color: #2587cc;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s; }
            .login-wrap .form-wrap .form form .contact-form-row-submit button span {
              font-size: 18px;
              font-family: "ProximaNova";
              color: white;
              display: block;
              text-align: center;
              font-weight: bold;
              line-height: 50px; }
            .login-wrap .form-wrap .form form .contact-form-row-submit button:hover {
              background-color: #4ab2fb; }
        .login-wrap .form-wrap .form form .error-field {
          padding: 10px 0; }
          .login-wrap .form-wrap .form form .error-field p {
            margin: 0;
            text-align: center;
            color: red;
            font-size: 14px;
            font-weight: 700; }
      .login-wrap .form-wrap .form .forget-pass {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 300px;
        margin: 0 auto;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 50px;
        border: 2px solid #e5e5e5;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-decoration: none;
        background-color: white;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        .login-wrap .form-wrap .form .forget-pass span {
          max-width: 90%;
          font-size: 14px;
          font-family: "ProximaNova";
          color: #2587cc; }
        .login-wrap .form-wrap .form .forget-pass:hover {
          background-color: #e6e4e4; }
      .login-wrap .form-wrap .form .soc-block {
        max-width: 300px;
        margin: 0 auto;
        padding: 30px 0 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .login-wrap .form-wrap .form .soc-block a {
          display: block;
          width: 70px;
          height: 60px;
          background-color: transparent; }
          .login-wrap .form-wrap .form .soc-block a svg .st0 {
            fill: transparent; }
          .login-wrap .form-wrap .form .soc-block a svg .st1 {
            fill: url(#SVGID_2_); }
          .login-wrap .form-wrap .form .soc-block a svg .st2 {
            fill: url(#SVGID_3_); }
          .login-wrap .form-wrap .form .soc-block a svg .st3 {
            fill: url(#SVGID_4_); }
          .login-wrap .form-wrap .form .soc-block a svg .st4 {
            fill: url(#SVGID_5_); }
          .login-wrap .form-wrap .form .soc-block a svg .st5 {
            fill: url(#SVGID_6_); }
          .login-wrap .form-wrap .form .soc-block a svg .st6 {
            fill: url(#SVGID_7_); }
          .login-wrap .form-wrap .form .soc-block a svg .st7 {
            fill: url(#SVGID_8_); }
          .login-wrap .form-wrap .form .soc-block a svg .st8 {
            fill: url(#SVGID_9_); }
          .login-wrap .form-wrap .form .soc-block a svg .st9 {
            fill: url(#SVGID_10_); }
          .login-wrap .form-wrap .form .soc-block a svg .st10 {
            fill: url(#SVGID_11_); }
          .login-wrap .form-wrap .form .soc-block a svg .st11 {
            fill: url(#SVGID_12_); }
          .login-wrap .form-wrap .form .soc-block a svg .st12 {
            fill: url(#SVGID_13_); }
          .login-wrap .form-wrap .form .soc-block a svg .st13 {
            fill: url(#SVGID_14_); }
          .login-wrap .form-wrap .form .soc-block a svg .st14 {
            fill: url(#SVGID_15_); }
          .login-wrap .form-wrap .form .soc-block a svg .st15 {
            fill: url(#SVGID_16_); }
          .login-wrap .form-wrap .form .soc-block a svg .st16 {
            fill: url(#SVGID_17_); }
          .login-wrap .form-wrap .form .soc-block a svg .st17 {
            fill: url(#SVGID_18_); }
          .login-wrap .form-wrap .form .soc-block a svg .st18 {
            fill: url(#SVGID_19_); }
          .login-wrap .form-wrap .form .soc-block a svg .st19 {
            fill: url(#SVGID_20_); }
          .login-wrap .form-wrap .form .soc-block a svg .st20 {
            fill: url(#SVGID_21_); }
          .login-wrap .form-wrap .form .soc-block a svg .st21 {
            fill: url(#SVGID_22_); }
          .login-wrap .form-wrap .form .soc-block a svg .st22 {
            fill: url(#SVGID_23_); }
          .login-wrap .form-wrap .form .soc-block a svg .st23 {
            fill: url(#SVGID_24_); }
          .login-wrap .form-wrap .form .soc-block a svg .st24 {
            fill: url(#SVGID_25_); }
          .login-wrap .form-wrap .form .soc-block a svg .st25 {
            fill: url(#SVGID_26_); }
          .login-wrap .form-wrap .form .soc-block a svg .st26 {
            fill: url(#SVGID_27_); }
          .login-wrap .form-wrap .form .soc-block a svg .st27 {
            fill: url(#SVGID_28_); }
          .login-wrap .form-wrap .form .soc-block a svg .st28 {
            fill-rule: evenodd;
            clip-rule: evenodd;
            fill: #5B74B2;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s; }
        .login-wrap .form-wrap .form .soc-block .fb:hover svg .st28 {
          fill: #cd4941; }
        .login-wrap .form-wrap .form .soc-block .vk:hover svg .st28 {
          fill: #cd4941; }
        .login-wrap .form-wrap .form .soc-block .ins:hover svg .st28 {
          fill: #cd4941; }
        .login-wrap .form-wrap .form .soc-block .gp:hover svg .st28 {
          fill: #cd4941; }

/* login */
/* banner */
.banner-wrap .contein {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-color: black; }
  .banner-wrap .contein .contein-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100vh;
    min-height: 400px;
    max-width: 1200px;
    margin: 0 auto; }
    .banner-wrap .contein .contein-page .pocke {
      width: 300px;
      height: 300px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      z-index: 10; }
      .banner-wrap .contein .contein-page .pocke svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0; }
        .banner-wrap .contein .contein-page .pocke svg .st0 {
          fill: #50484F; }
        .banner-wrap .contein .contein-page .pocke svg .st1 {
          fill: #cd4941; }
        .banner-wrap .contein .contein-page .pocke svg .st2 {
          fill: #E2E2E2; }
        .banner-wrap .contein .contein-page .pocke svg .st3 {
          fill: none;
          stroke: #E2E2E2;
          stroke-miterlimit: 10; }
        .banner-wrap .contein .contein-page .pocke svg .st4 {
          fill: #E2E2E2;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
        .banner-wrap .contein .contein-page .pocke svg .st5 {
          display: none; }
        .banner-wrap .contein .contein-page .pocke svg .st6 {
          display: inline;
          fill: #50484F; }
        .banner-wrap .contein .contein-page .pocke svg .st7 {
          display: inline;
          fill: #D24A43; }
        .banner-wrap .contein .contein-page .pocke svg .st1, .banner-wrap .contein .contein-page .pocke svg .st2 {
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
      .banner-wrap .contein .contein-page .pocke.top-hover svg .st1 {
        fill: #E2E2E2; }
      .banner-wrap .contein .contein-page .pocke.top-hover svg .st2 {
        fill: #cd4941; }
      .banner-wrap .contein .contein-page .pocke.top-hover svg .st4 {
        fill: #cd4941; }
      .banner-wrap .contein .contein-page .pocke.top-hover a.top span {
        color: #50484F; }
      .banner-wrap .contein .contein-page .pocke.top-hover a.bot span {
        color: #E2E2E2; }
      .banner-wrap .contein .contein-page .pocke.bot-hover svg .st1 {
        fill: #cd4941; }
      .banner-wrap .contein .contein-page .pocke.bot-hover svg .st2 {
        fill: #E2E2E2; }
      .banner-wrap .contein .contein-page .pocke.bot-hover svg .st4 {
        fill: #cd4941; }
      .banner-wrap .contein .contein-page .pocke a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 150px;
        z-index: 1;
        position: relative;
        text-decoration: none; }
        .banner-wrap .contein .contein-page .pocke a span {
          font-size: 24px;
          font-weight: 700; }
        .banner-wrap .contein .contein-page .pocke a.top {
          -webkit-border-top-left-radius: 150px;
          -moz-border-radius-topleft: 150px;
          border-top-left-radius: 150px;
          -webkit-border-top-right-radius: 150px;
          -moz-border-radius-topright: 150px;
          border-top-right-radius: 150px; }
          .banner-wrap .contein .contein-page .pocke a.top span {
            color: white; }
        .banner-wrap .contein .contein-page .pocke a.bot {
          -webkit-border-bottom-left-radius: 150px;
          -moz-border-radius-bottomleft: 150px;
          border-bottom-left-radius: 150px;
          -webkit-border-bottom-right-radius: 150px;
          -moz-border-radius-bottomright: 150px;
          border-bottom-right-radius: 150px; }
          .banner-wrap .contein .contein-page .pocke a.bot span {
            color: #50484F; }

/* banner */
