@media screen and (max-width: 1280px) {
  .row-like-header .header-wrap .con .call-back {
    margin: 0 -webkit-calc(350px/2 - 260px/2);
    margin: 0 -moz-calc(350px/2 - 260px/2);
    margin: 0 calc(350px/2 - 260px/2);
    width: 260px; }
  .footer .row-like-header .mbox {
    padding: 0; }
  .footer .header-wrap .con .logo-block {
    padding-left: 15px; } }

@media screen and (max-width: 1024px) {
  .pockeball {
    zoom: 1.5; } }
